@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --primaryTextColor: #232323;
  --secondaryTextColor: #656d72;

  --WarnaTextDefault: #fff;

  --borderColor: #f1f1f1;
  --lineColor: #d9d9d9;

  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  --thirdBackgroundColor: #f5f3f3;

  --primaryIconColor: #48dd86;
  --primaryIconColorHover: #51e879;

  --sectionPadding: 6rem 0;
  --itemBorderRadius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" sans-serif;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  position: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

.line1 {
  position: relative;
  border: none;
  width: 70%;
  height: 2.5px;
  color: #333; 
  background-color: #333;
}

.line2 {
  position: relative;
  border: none;
  width: 100px;
  height: 2.5px;
  color: #333; 
  background-color: #333;
}

p {
  font-size: 1rem; /*16px*/
  line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

/* Titles */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
  color: var(--primaryIconColor);
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--WarnaTextDefault);
  position: relative;
  padding-left: 40px;
  width: fit-content;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title::before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--lineColor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/* Layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* Buttons */
.nav ul li a span {
  color: var(--WarnaTextDefault);
}
.nav ul li a {
  position: relative;
  background: #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.5s;
}

.nav ul li a:hover {
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

.nav ul li a:before {
  content: '';
  position: absolute;
  inset: 2px;
  background: #27282c;
}
.nav ul li a span {
  position: relative;
  z-index: 1;
}

.nav ul li a i {
  position: absolute;
  inset: 0;
  display: block;
}

.nav ul li a i::before {
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.nav ul li a:hover i::before {
  width: 20px;
  left: 20%;
}

.nav ul li a i::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #27282c;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.nav ul li a:hover i::after {
  width: 20px;
  left: 80%;
}

/* logo and Navigation Menu */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--WarnaTextDefault);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo a {
  color: var(--WarnaTextDefault);
}

/* Burger */
.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--primaryIconColor);
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/* Her Section */
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
  color: var(--WarnaTextDefault);
}

.hero-names {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
  color: grey;
}

.hero-warna {
  font-size: 1rem;
  font-weight: 200;
  color: white;
  margin: 0 auto;
}

.hero-name span {
  color: var(--primaryIconColor);
}

.hero-warna span {
  color: var(--secondaryTextColor);
}

.hero-warna .spans {
  color: var(--primaryIconColor);
}

.hero-text span {
  color: #fff;
}

.hero-text span b {
  color: var(--primaryIconColor);
}

.hero-right img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 5px solid #fff;
  transition: transform 0.5s ease;
  filter: blur(4px);
}

.hero-right {
  width: 17%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  cursor: auto;
  margin: auto;
}

.hero-right:hover img {
  transform: scale(1.2);
  filter: none;
}

.hero-left .hero-warna a span:hover {
  color: green;
  fill: green;
}

/* Service Section */
#services {
  color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}

.services .pre-title {
  margin: 0 auto;
}

.services-title {
  text-align: center;
}

.service {
  padding: 3rem 2rem;
  text-align: center;
  background: var(--primaryBackgroundColor);
  border-radius: var(--itemBorderRadius);
}

.service h4 {
  margin: 1.5rem 0;
  font-weight: 500;
  font-size: 1.05rem;
}

.service-icon {
  background: var(--thirdBackgroundColor);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.service-icon svg {
  fill: var(--primaryIconColor);
}

/* Portfolio Section */
#portfolios {
  padding: var(--sectionPadding);
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.portfolio {
  border-radius: var(--itemBorderRadius);
  overflow: hidden;
  border: 1px solid var(--borderColor);
  background: var(--primaryBackgroundColor);
}

.portfolio {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0, 1);
}

.portfolio img {
  width: 100px;
  height: 100px;
  transition: transform 0.5s ease;
  filter: blur(2px);
}

.portfolio:hover img {
  transform: scale(1.2);
  filter: none;
}

.portfolio-cover {
  height: 250px;
}

.portfolio-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info {
  padding: 2rem 1.5rem;
}

.portfolio-info p {
  color: black;
}

.portfolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portfolio h4 {
  font-weight: 500;
  font-size: 1.05rem;
}

.portfolio-title a svg:hover {
  fill: var(--primaryIconColor);
}

.portfolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portfolio-title h4 {
  color: grey;
}

.portfolio-title h4 span {
  color: var(--primaryIconColor);
}

.portfolio-tags a {
  font-size: 0.9rem;
  border: 1px solid var(--borderColor);
  padding: 0.4rem 1rem;
  color: var(--WarnaTextDefault);
}

.portfolio-tags a {
  position: relative;
  text-decoration: none;
  font-family: "Robot", sans-serif;
  color: black;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.portfolio-tags a:after {
  content: "";
  position: absolute;
  background-color: var(--primaryIconColor);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
}

.portfolio-tags a:hover:after {
  width: 100%;
}

/* Skills & Education */
#skills {
  padding: var(--sectionPadding);
  background: var(--secondaryBackgroundColor);
  background: black;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.education {
  display: flex;
  gap: 1rem;
}

.education .line {
  padding: 0 0.7rem;
}

.education .line div {
  width: 2px;
  height: 100%;
  background: var(--borderColor);
  position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
  color: grey;
}

.educations-years {
  margin-bottom: 3rem;
  color: white;
}

.education-info h4 {
  color: white;
}

/* The dot on the line */
.education .line div::before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--borderColor);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-right ul {
  line-height: 2rem;
  padding: 0 1rem;
}

.skills-right p {
  color: white;
}

.skills-list ul li {
  color: grey;
}

/* Contact Section */
#contact {
  padding: var(--sectionPadding);
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "Roboto", sans-serif;
  background: var(--secondaryBackgroundColor);
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid #7d7d7d;
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background-color: var(--primaryIconColor);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  background: var(--primaryIconColorHover);
}

.contact-item {
  display: flex;
  gap: 3rem;
  margin-bottom: 2.5rem;
}

.contact-item-icon {
  background: var(--thirdBackgroundColor);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item-icon svg {
  fill: var(--primaryIconColor);
}

.contact-item-detail h4 {
  margin-bottom: 0.6;
  color: white;
}

.contact-item-detail p {
  color: grey;
}

/* Footer Section */
footer {
  padding: 4rem 0;
  background: var(--secondaryBackgroundColor);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: black;
}

.footer-icons {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  align-content: center;
}

.footer-icons a {
  margin: 0 0.5rem;
}

.footer-icons svg {
  fill: grey;
}

.footer-icons a:hover svg {
  fill: green;
}

/* Function fo Disable Save Image */
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

/* Animation Cube */
body {
  background: #111;
  height: 100vh;
}
.wrapper span {
  position: fixed;
  bottom: -180px;
  height: 50px;
  width: 50px;
  z-index: -1;
  background-color: #18191f;
  box-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
  animation: animate 10s linear infinite;
  filter: blur(4px);
}
.wrapper span:nth-child(1) {
  left: 60px;
  animation-delay: 0.6s;
}
.wrapper span:nth-child(2) {
  left: 10%;
  animation-delay: 3s;
  width: 60px;
  height: 60px;
}
.wrapper span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
}
.wrapper span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
}
.wrapper span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
}
.wrapper span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
}
.wrapper span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
  width: 100px;
  height: 100px;
}
.wrapper span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
}
.wrapper span:nth-child(9) {
  left: 80%;
  animation-delay: 6s;
  width: 90px;
  height: 90px;
}
.wrapper span:nth-child(10) {
  left: 90%;
  animation-delay: 4s;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
